* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(20, 46, 53);
}

.form-container {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 11px #000;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .form-container {
    width: 380px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.input-label {
  font-size: 18px;
}

.input-box {
  height: 40px;
  border: 1px solid gray;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px 10px;
}

.drop-down-option {
  background: transparent;
  color: #000;
}

.submit-btn {
  width: 100%;
  height: 35px;
  background-color: rgb(3, 99, 171);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.error-msg {
  color: red;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 3px;
}

.gender-container {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.gender-container-text {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.user-detail {
  margin-top: 30px;
  padding: 20px;
  align-self: center;
}
